body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
.btn img {
    position: fixed;
    width: 80px;
    top: 200px; 
    left: 555px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.btn3 img {
    position: fixed;
    top:70px;
    right: 200px;
    width: 80px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
} 